@function theme($value) {@return map-get($theme, $value);}

$theme: (

	body-background: white,
	mobile-first: false,
	mobile-gutter: 24px,
	font-secondary-font: null,
	font-base-size: 16px,
	
	// Grid
	columns: 12,
	gutter: sizes(base),
	
	brand-primary: #AC1B26,
	brand-secondary: #0B2638,
);





