@function colors($palette, $tone: 'base') {
	@return map-get(map-get($colors, $palette), $tone);
}

$colors: (
	brand-primary: (
		base: #AC1B26,
	),
	
	brand-secondary: (
		base: #0B2638,
	),

	greyscale: (
		x-light: #f5f5f5,
		light: #818F98,
		medium: #445561,
		dark: #0F222F,
	), 

	ui: (
		error: #BB4150,
		success: #46A76D,
		info: #51A3B1,
	),

	keyline: (
		light: #E8E8E8,
		dark: #D9D9D8,
	)
);

